[data-theme='black'] {
  --theme-color-1: #404040;
  --theme-color-2: #333333;
  --theme-color-3: #262626;
  --theme-color-4: #1a1a1a;
  --theme-color-5: #0d0d0d;
  --theme-color-6: #000000;

  --primary-bg: var(--theme-color-4);
  --primary-color: var(--theme-color-1);

  /* 第三方组件样式覆盖 */
  --van-button-primary-background: #00eeff;
  --van-button-border-width: 10px;
  --van-button-primary-border-color: #e1e2e2;
}
